In [13]:
url = 'https://github.com/jreades/i2p/raw/master/data/src/2020-08-24-listings.csv.gz'
import pandas as pd
df = pd.read_csv(url, compression='gzip', low_memory=False)

print(f"Data frame is {df.shape[0]:,} x {df.shape[1]}")

Data frame is 74,188 x 74

In [14]:
import pandas as pd

In [15]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74188 entries, 0 to 74187
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            74186 non-null  float64
 1   listing_url                                   74187 non-null  object
 2   scrape_id                                     74187 non-null  object
 3   last_scraped                                  74187 non-null  object
 4   name                                          74167 non-null  object
 5   description                                   71329 non-null  object
 6   neighborhood_overview                         47208 non-null  object
 7   picture_url                                   74188 non-null  object
 8   host_id                                       74188 non-null  float64
 9   host_url                                      74188 non-null  object
 10  host_name                                     74179 non-null  object
 11  host_since                                    74179 non-null  object
 12  host_location                                 74006 non-null  object
 13  host_about                                    42494 non-null  object
 14  host_response_time                            37781 non-null  object
 15  host_response_rate                            37779 non-null  object
 16  host_acceptance_rate                          51597 non-null  object
 17  host_is_superhost                             74177 non-null  object
 18  host_thumbnail_url                            74177 non-null  object
 19  host_picture_url                              74177 non-null  object
 20  host_neighbourhood                            56560 non-null  object
 21  host_listings_count                           74175 non-null  float64
 22  host_total_listings_count                     74177 non-null  object
 23  host_verifications                            74186 non-null  object
 24  host_has_profile_pic                          74177 non-null  object
 25  host_identity_verified                        74177 non-null  object
 26  neighbourhood                                 47207 non-null  object
 27  neighbourhood_cleansed                        74186 non-null  object
 28  neighbourhood_group_cleansed                  2 non-null      float64
 29  latitude                                      74186 non-null  float64
 30  longitude                                     74186 non-null  float64
 31  property_type                                 74186 non-null  object
 32  room_type                                     74186 non-null  object
 33  accommodates                                  74186 non-null  float64
 34  bathrooms                                     2 non-null      float64
 35  bathrooms_text                                74029 non-null  object
 36  bedrooms                                      69594 non-null  object
 37  beds                                          73199 non-null  float64
 38  amenities                                     74186 non-null  object
 39  price                                         74186 non-null  object
 40  minimum_nights                                74186 non-null  float64
 41  maximum_nights                                74186 non-null  object
 42  minimum_minimum_nights                        74186 non-null  float64
 43  maximum_minimum_nights                        74186 non-null  float64
 44  minimum_maximum_nights                        74186 non-null  float64
 45  maximum_maximum_nights                        74186 non-null  object
 46  minimum_nights_avg_ntm                        74186 non-null  object
 47  maximum_nights_avg_ntm                        74186 non-null  float64
 48  calendar_updated                              2 non-null      float64
 49  has_availability                              74186 non-null  object
 50  availability_30                               74186 non-null  float64
 51  availability_60                               74186 non-null  float64
 52  availability_90                               74186 non-null  float64
 53  availability_365                              74186 non-null  float64
 54  calendar_last_scraped                         74184 non-null  object
 55  number_of_reviews                             74186 non-null  object
 56  number_of_reviews_ltm                         74186 non-null  float64
 57  number_of_reviews_l30d                        74186 non-null  float64
 58  first_review                                  53903 non-null  object
 59  last_review                                   53903 non-null  object
 60  review_scores_rating                          52285 non-null  float64
 61  review_scores_accuracy                        52233 non-null  float64
 62  review_scores_cleanliness                     52242 non-null  float64
 63  review_scores_checkin                         52194 non-null  float64
 64  review_scores_communication                   52234 non-null  float64
 65  review_scores_location                        52197 non-null  float64
 66  review_scores_value                           52196 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              74184 non-null  object
 69  calculated_host_listings_count                74184 non-null  float64
 70  calculated_host_listings_count_entire_homes   74184 non-null  float64
 71  calculated_host_listings_count_private_rooms  74184 non-null  float64
 72  calculated_host_listings_count_shared_rooms   74184 non-null  float64
 73  reviews_per_month                             53901 non-null  float64
dtypes: float64(34), object(40)
memory usage: 30.6+ MB

In [16]:
print(list(df.columns.values))

['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']

In [17]:
import os
path = os.path.join('data','raw') # A default location to save raw data
fn   = url.split('/')[-1]         # What does this do?
print(f"Writing to: {fn}")

Writing to: 2020-08-24-listings.csv.gz

In [19]:
if not os.path.exists(path):
    print(f"Creating {path} under {os.getcwd()}")
    os.makedirs(path)
    
df.to_csv(os.path.join(path,fn), index=False)
print("Done.")

Done.

In [20]:
cols = ['id', 'listing_url', 'last_scraped', 'name', 'description', 'host_id', 'host_name', 'host_since', 
        'host_location', 'host_about', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 
        'host_listings_count', 'host_total_listings_count', 'host_verifications', 'latitude', 'longitude', 
        'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 
        'amenities', 'price', 'minimum_nights', 'maximum_nights', 'availability_365', 'number_of_reviews', 
        'first_review', 'last_review', 'review_scores_rating', 'review_scores_cleanliness', 
        'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'license', 
        'instant_bookable', 'calculated_host_listings_count', 'reviews_per_month']

In [23]:
del(df)
df = pd.read_csv(os.path.join(path,fn), low_memory=False, usecols=cols, nrows=10000)
print(f"Data frame is {df.shape[0]:,} x {df.shape[1]}")

Data frame is 10,000 x 42

In [25]:
df.sample(6, random_state=42)

,id,listing_url,last_scraped,name,description,host_id,host_name,host_since,host_location,host_about,...,last_review,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,license,instant_bookable,calculated_host_listings_count,reviews_per_month
6252,5611338.0,https://www.airbnb.com/rooms/5611338,2020-08-27,Lovely Flat close to Tower Bridge!,"´The flat is very spacious (1 bedroom, living ...",29021331.0,Sandra,2015-03-09,"Madrid, Community of Madrid, Spain","Hi! \r\n\r\nWe are Sandra and Pablo, a couple ...",...,2017-11-05,96.0,10.0,10.0,10.0,10.0,NaN,f,1.0,0.54
4684,4176912.0,https://www.airbnb.com/rooms/4176912,2020-08-26,B&B Smart Charming 2bed 6 Sleeper,<b>The space</b><br />PLEASE KINDLY ASK FOR AV...,1517803.0,Hilmi,2011-12-19,"London, United Kingdom",I am a young professional with an engineer bac...,...,2015-04-02,73.0,9.0,9.0,9.0,8.0,NaN,f,24.0,0.04
1731,1041523.0,https://www.airbnb.com/rooms/1041523,2020-08-26,Beautifully Spacious Property in Islington,This beautiful 1 bedroom property sits in the ...,5733781.0,Tomas,2013-04-02,London,I'm from London and like to travel,...,2020-01-21,95.0,10.0,10.0,9.0,10.0,NaN,f,1.0,0.73
4742,4225126.0,https://www.airbnb.com/rooms/4225126,2020-08-26,Lovely room on Shoreditch Park,A nice room in East London on Regents Canal an...,13740059.0,Eric,2014-03-31,"New York, New York, United States",World traveler extraordinaire,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,1.0,NaN
4521,4012401.0,https://www.airbnb.com/rooms/4012401,2020-08-26,BIG Double ROOM +LIVINGROOM + GARDEN @ CAMDEN ...,Spacious double room in camden town with your...,20298323.0,James,2014-08-20,LONDON,French physiotherapist living in the heart of ...,...,2020-07-20,90.0,9.0,10.0,10.0,10.0,NaN,t,2.0,1.39
6340,5711398.0,https://www.airbnb.com/rooms/5711398,2020-08-26,Master Bedroom in a Converted Pub,"We live an a beautifully converted pub, right ...",11021500.0,Toby,2014-01-04,"London, England","I'm lively, easygoing and a little bit geeky. ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,1.0,NaN

In [28]:
df.sample(6, random_state=42)[['id', 'price', 'room_type', 'host_location', 'last_review', 'review_scores_rating', 'license']]

,id,price,room_type,host_location,last_review,review_scores_rating,license
9120,7671832.0,$50.00,Private room,London,2015-08-16,80.0,NaN
1814,1117842.0,$27.00,Shared room,"London, England, United Kingdom",2019-06-30,94.0,NaN
13,38605.0,$58.00,Private room,"London, England, United Kingdom",2020-03-15,95.0,NaN
4485,3986296.0,$55.00,Private room,"London, England, United Kingdom",2020-03-17,97.0,NaN
9841,8205298.0,$250.00,Entire home/apt,"London, England, United Kingdom",NaN,NaN,NaN
1054,575832.0,$170.00,Entire home/apt,"London, England, United Kingdom",NaN,NaN,NaN

In [29]:
df.iloc[3558:3561,:]

,id,listing_url,last_scraped,name,description,host_id,host_name,host_since,host_location,host_about,...,last_review,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,license,instant_bookable,calculated_host_listings_count,reviews_per_month
3558,3138549.0,https://www.airbnb.com/rooms/3138549,2020-08-26,Heart of City of London/Shoreditch,Our lovely flat is in a newly designed buildin...,4968944.0,Alejandra,2013-02-04,"London, United Kingdom",Alejandra Avila,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3559,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/1c171...,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,f,"London, United Kingdom",...,0,0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3560,3140773.0,https://www.airbnb.com/rooms/3140773,2020-08-26,One bed flat set on Victoria Park,Home away from home. New build one bed flat on...,15947403.0,Mary,2014-05-25,"London, United Kingdom",NaN,...,2017-05-10,100.00,10.0,10.0,10.0,10.0,NaN,f,1.0,0.02

In [33]:
df[df.host_id.isna()][['id','listing_url','name','description','host_id','host_name']]

,id,listing_url,name,description,host_id,host_name
3559,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/1c171...,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern..."